
.clearfix {
	overflow: auto;
}

.custom-logo {
	width: 70%;
}

.homepage-divider {
	height: 5px;
}

.homepage-post-highlight {
	background-color: #f7f7f7;
	padding: 10px 20px;
}

.video-caption-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;	
}

.video-caption-container > div {
  background-color: lightgrey;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 1.2em;
  border: 5px solid lightgrey;
  border-radius: 10px;
  align-self: center;
}

.video-caption-container > div > img {
  width: 600px;
}

.video-caption-container > div.caption {
  width: 300px;
  font-family: "Arial Narrow";
}

.video-placeholder {
	margin: 10px 10px 0;
	text-align: center;
}

.homepage-highlight-caption {
    margin-top: 10px;
    font-size: 1em;	
}

.donate-form-container {
	position: relative;
	padding-bottom: 90%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
}
.donate-form-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.nav-donate-btn {
  text-decoration: none;
	background-color: lightblue;
  color: #333333;	
  padding: 0 3px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;	
	border-radius: 30px;
}
.nav-donate-btn:hover, .donate-btn:hover {
	background-color: #d7e6e9;
	color: darkblue;
}

h3.featured-alt-headline {
	font-size: .8em;
	text-transform: none;
	text-align: center;
	color: white;
}

.featured-alt-blurb {
	font-size: .8em;
	text-transform: none;	
}
/* .alt-headline {
	font-size: .8em;
} */

.img-space-right {
	margin-right: 30px;
	float: left;
}



.singular-section #primary .entry-header, .singular-section #primary .entry-content, .singular-section #primary .entry-footer, .singular-section #primary .comments-area, .woocommerce .site-main {
	max-width: 90%;
}

.stat-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.stat-flex-container > p {
  background-color: lightblue;
  padding: 10px;
  width: 280px;
  margin: 15px;
  text-align: center;
  font-size: 1.2em;
  border: 5px solid lightgrey;
  border-radius: 10px;
}

.custom-header .section .section-title {
	font-family: Georgia;
	text-transform: uppercase;
}

.inline-img {
	padding: 0 20px 20px 0;
	float: left;
}

.donate-blurb {
	padding-top: 20px;
	font-family: Raleway;
}

#featured-content-section {
	padding-top: 0;
}

@media screen and (min-width: 33.375em) {
.hero-content-wrapper     .entry-container.full-width {
    padding-top: 0;
	  padding-bottom: 10px;
	}
}

.theme-style-blurb {
	font-family: Raleway;
	font-size: .8em;
}

.centered-btn {
	text-align: center;
}

@media screen and (min-width: 64em) {
	.featured-content-wrapper .entry-header {
		top: 75%;
	}
	
}
	
.iframe-video {
	margin: 10px 20px 50px 30px;
	
}


.homepage-post {
	margin-bottom: 60px;
	font-family: Raleway;
}

.homepage-post > h3 {
	text-align: center; 
	font-family: Georgia;
}

h1, h2, h3 {
	font-family: Raleway;
	font-size: 1.5em;
}

h2.article-page {
	font-size: 1.9em;
	font-family: Garamond;
}

h3.article-page {
	font-size: 1.6em;
	font-family: Garamond;
}
.sreader {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}	

figcaption {
	font-size: .8em;
	text-align: center;
}

